body{
    background-image: url(háttér.jpg);
    background-repeat: repeat;
    background-position: 100%;
}

img{
    height: 600px;
    margin: 0 auto;
    border: 2px solid black;
    margin-bottom: 10px
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 50px;
}

a{
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: brown;
}

a:hover{
    color: blue;
}

p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    background-color: saddlebrown;
    text-decoration: none;
}

.nav-link{
    color: black;
    font-size: 25px;
}
.nav-link:hover{
    background-color: orange;
    color: blue;
}

.display-6{
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}

.container{
    background-color: tan;
    border-style: dashed;
    border-radius: 50px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

table{
    margin: auto;
    margin-bottom: 20px;
}

td{
    border: 1px solid black ;
    text-align: justify;
    padding-left: 10px;
}

.forras{
    background-color: blueviolet;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
}